  
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <title>{{ user.name }}的电影列表</title>
    {% endblock %}
</head>

<body>

    {% for message in get_flashed_messages() %}
        <h1 class="alert">{{ message }}</h1>
    {% endfor %}

    <h2>
        <img class="avatar" src="{{ url_for('static',filename='img/avatar.jpg') }}" alt="头像">
        {{ user.name }}的电影列表
    </h2>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('index') }}">首页</a>
            </li>
            {% if not current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('login') }}">登录</a>
            
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('login') }}">{{ current_user.name }}</a>
            
            </li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('logout') }}">退出</a>
            </li>
            <li>
                <a href="{{ url_for('settings') }}">设置</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>&copy;<a href="http://www.baidu.com">百度</a></footer>

</body>

</html>

