  
{% extends 'base.html' %}
{% block content %}
<p>总共{{ movies|length }}个</p>
{# 添加电影的表单 #}
{% if current_user.is_authenticated %}
<form method="post">
    电影名称 <input type="text" name="title" autocomplete="off" required> 
    电影年份 <input type="text" name="year" autocomplete="off" required>
    <input type="submit" class="btn" name="submit" value="添加">
</form>
{% endif %}

<ul class="movie-list">
    {% for movie in movies %}
    <li>
        {{movie.title}} - {{movie.year}}
        <span class="float-right">
            <a class="baidu" href="http://v.baidu.com/v?word={{ movie.title }}&ct=301989888&rn=67&pn=0&db=0&s=0&fbl=800&ie=utf-8" target="_blank" title="在百度视频中查找">百度视频</a>
        </span>
        {% if current_user.is_authenticated %}
        <span class="float-right">
            <a class="btn" href="{{ url_for('edit',movie_id=movie.id) }}">编辑</a>
        </span>
        <span class="float-right">
            <form action="{{ url_for('delete',movie_id=movie.id) }}" method="post">
                <input class="btn" type="submit" value="删除" onclick="return confirm('确定删除吗？')">
            </form>
        </span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}