/* 页面整体设置 */

body{
    margin: 0 auto;
    max-width: 600px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

h2{
    text-align: center;
}

/* 页脚 */
footer{
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;

}
/* 图片 */
.avatar{
    width: 50px;
}

/* 电影列表 */
.movie-list{
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,16),0 2px 5px 0 rgba(0,0,0,16);
}


.movie-list li{
    padding: 12px 24px;
    box-shadow: 1px solid #ddd;
}
.movie-list li:hover{
    background-color: lemonchiffon;
}
.gougou{
    display: block;
    margin: 0 auto;
    height: 100px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333333;

}
nav li{
    float: left;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
nav li a:hover{
    background: #111111;
}

.float-right{
    float:right;
}
.vbaidu{
    font-size: 12px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    background: #F5c518;
    border-radius: 5px;
    padding: 5px 5px;
}
.alert{
    position: relative;
    padding: 10px;
    margin:  10px 0;
    border: 1px solid transparent;
    border-color: aqua;
    background: #F5c518;
    border-radius: 5px;

}